body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  display: flex;
  background-color: #1a1b21;
  justify-content: space-between;
}
main > div {
  display: flex;
  align-items: center;
}
nav {
  padding: 5px;
  width: 100px;
  text-align: center;
  color: #ffffff;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

#nav--about {
  background-color: #ffffff;
  color: black;
}

#nav--cv {
  background-color: #ffffff;
  color: black;
}

#nav--projects {
  background-color: #ffffff;
  color: black;
}
a > img {
  width: 25px;
  margin: 10px;
}
#nav--mail {
  background-color: #ffffff;
  border-radius: 2px;
}
