:root{
--main-bg-colour: #ffffff;
--main-theme-colour:rgba(29, 31, 37,1);
--special-font-colour: #EF8354;
--main-font-colour: #1a1b21;
--alt-font-colour: #ffffff;
--theme-picker-colour: rgba(29, 31, 37,0.9);
}

*{
  box-sizing: border-box;
}
body {
  position: relative;
  margin: 0;
  padding-bottom: 110px;
  min-height: 100vh;
  font-family: "Oswald", sans-serif;
  background-color: var(--main-bg-colour);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  display: flex;
  background-color: var(--main-theme-colour);
  justify-content: space-between;
  align-items: center;
}
main > div {
  display: flex;
  align-items: center;
}

nav {
  padding: 5px;
  width: 100px;
  text-align: center;
  color: var(--alt-font-colour);
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

#nav--about,#nav--cv, #nav--projects {
  background-color: var(--main-bg-colour);
  color: var(--main-font-colour);
}

a > img {
  width: 32px;
  margin: 10px;
}
#nav--palette {
  width: 30px;
  margin: 10px;
  cursor: pointer;
}

#about--main, #cv--main, #projects--main{
 display: flex;
 align-items: center;
 color: var(--main-font-colour);
 font-size: 32px;
}

#about--face{
  width: 300px;
  margin: 100px 50px 0 100px;
  border-radius: 1px;
  border: var(--main-theme-colour) inset;
}

.about--lead{
  color: var(--special-font-colour);
  margin: 0;
}

#cv--main{
  display: block;
}
#cv--main > h3{
  color: var(--special-font-colour);
}
.cv--list{
  list-style: none;
}
#dropdown{
  max-height: 0px;
  background-color: var(--theme-picker-colour);
  transition: max-height 750ms cubic-bezier(.4,0,.2,1);
}

#dropdown--active{
  max-height: 200px;
  box-shadow: 0 1px 0 0 rgb(0 0 0 /10%);
  background-color: var(--theme-picker-colour);
  overflow: hidden;
  position: relative;
  transition: max-height 1s cubic-bezier(.4,0,.2,1);
  
}

.box--active{
  display: block;
  width: 100%;
  margin: 15px 20px 15px 20px;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 8px;
  background-color: var(--main-bg-colour);
  text-align: center;
  
}
.box--active>span{
  display: block;
}
.box--active:hover{
  transform: scale(1.1);
  transition: transform 500ms;
  cursor: pointer;
}

.footer--container{
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px;
  border-top: var(--main-theme-colour) solid 1px;
  color: var(--main-font-colour);
  font-size: 13px;
  text-align: center
}

.footer--container > p{
  margin-right: 20px;
}

.link{
  color: var(--main-font-colour);
  text-decoration: underline;
  cursor: pointer;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
